
@{
    ViewData["Title"] = "ConfirmEmail";
}
<h2>
    @ViewData["Title"]
</h2>
<div>
    <p>
        Thank you for confirming your email.You can login now.
    </p>
    <div class="form-group">
        <a asp-action="Login" class="btn btn-primary">Login</a>
    </div>
</div>
